/*HEADER*/
header{
	background-color: black;
	position: fixed;
	width: 100%;
}

.headerbox{
	display: flex;
	align-items: center;
	width: 960px;
	margin: 0 auto;
}

.headerbox img{
	width: 70%;
	padding: 10px 0;
}

.headerbox h1{
	color: white;
	font-family: Helvetica;
	font-size: 18px;
}
/*END HEADER*/
/*BANNER*/
.bannerbox{
	display: flex;
	height: 450px;
	background-image: url("media/moto.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.moto{
	display: flex;
	width: 960px;
	align-items: center;
	margin: 0 auto;
}

.newarrival{
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 165px;
	background-color: black;
	padding: 30px 30px;
	font-weight: bold;
}

.newarrival h4{
	color: white;
	font-size: 18px;
	font-family: Helvetica;
	padding: 20px 0 20px 30px;
}

.newarrival h1{
	color: white;
	font-size: 36px;
	font-family: Helvetica;
	padding-left: 30px;
	line-height: 45px;
}
/*END BANNER*/
/*NAV*/
nav{
	display: inline-flex;
	justify-content: center;
	width: 100%;
}

.desktopnav, .mobilenav{
	background-color: #B00024;
	text-align: center;
}

nav ul{
	display: flex;
}

nav li{
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	padding: 20px 50px;
}

.mobilenav{
	display: none;
}
/*END NAV*/
/*PRODUCTS*/
.productcontainer{
	width: 960px;
	margin: 50px auto 0 auto;
	text-align: center;
}

.boxes{
	display: flex;
	justify-content: space-between;
}

.productbox{
	display: flex;
	width: 300px;
	height: 300px;
	border: 4px solid black;
	justify-content: center;
	align-items: center;
}

.productbox img{
	width: 60%;
}
/*END PRODUCTS*/
/*CAPTIONS*/
.product p{
	background-color: black;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	padding: 15px 0;
}
/*END CAPTIONS*/
/*INFORMATION*/
.thesetwo{
	width: 308px;
}
#bottom{
	margin-bottom: 100px;
}

#coordinates{
	background-color: white;
	color: black;
	text-align: left;
}
/*END INFORMATION*/
/*FOOTER*/
.footer{
	display: flex;
	background-color: black;
	height: 200px;
}

.copyright{
	display: flex;
	align-items: center;
	width: 960px;
	margin: 0 auto;
}

.footer p{
	color: white;
	font-family: Helvetica;
	font-size: 18px;
}