/*HEADER*/
header{
	background-color: black;
	display: flex;
	width: 100%;
}

.logo{
	display: inline-flex;
	align-items: center;
	font-size: 18px;
	font-family: Helvetica;
	color: white;
	text-align: center;
	padding: 10px 0;
	margin-left: 450px;
}

.logo img{
	height: auto;
	width: 10%;
	padding-right: 15px;
}
/*END HEADER*/
/*BANNER*/
.moto{
	height: 450px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("media/moto.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-right: 570px;
}

.newarrival{
	width: 400px;
	height: 165px;
	background-color: black;
	padding: 30px 30px;
	font-weight: bold;
}

.newarrival h4{
	color: white;
	font-size: 18px;
	font-family: Helvetica;
	padding: 20px 0 20px 30px;
}

.newarrival h1{
	color: white;
	font-size: 36px;
	font-family: Helvetica;
	padding-left: 30px;
	line-height: 45px;
}
/*END BANNER*/
/*NAV*/
nav{
	background-color: #B00024;
	text-align: center;
}

nav li{
	display: inline-block;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	padding: 20px 50px;
}

/*END NAV*/
/*PRODUCTS*/
.container{
	margin-top: 50px;
}

.boxes{
	display: flex;
	justify-content: center;
}

.productbox{
	display: flex;
	border: 5px solid black;
	height: 300px;
	width: 300px;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
}

#pen{
	width: 60%;
}

#watch{
	width: 70%;
}

#glasses{
	width: 80%;
}
/*END PRODUCTS*/
/*CAPTIONS*/
.product p{
	text-align: center;
	background-color: black;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	padding: 15px 0;
	margin: 0 30px;
}
/*END CAPTIONS*/
/*INFORMATION*/
.information{
	margin-top: 50px;
	margin-bottom: 150px; 
}

.infoboxes{
	display: flex;
	justify-content: center;

}

.infoboxes2{
	display: flex;
}

.infoboxes2 p{
	background-color: black;
	color: white;
	font-family: Helvetica;
	font-size: 18px;
	padding: 15px 0;
	width: 310px;
	margin: 0 215px;
	text-align: center;
}
/*INFORMATION*/
/*FOOTER*/
.footer{
	background-color: black;
	height: 200px;
}

.footercontent{
	padding-top: 100px;
	padding-left: 200px;
}

.footercontent p{
	color: white;
	font-family: Helvetica;
	font-size: 18px;
}